body, html {
  margin: 0;
  font-family: "futura-pt-bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  height: 100%;
  min-width: 900px;
}

 @font-face {
  font-family: "futura-pt";
  src: url("../fonts/futura-pt.woff") format("woff2");
}

  @font-face {
    font-family: "futura-pt-bold";
    src: url("../fonts/futura-pt-bold.woff") format("woff2");
}

@font-face {
  font-family: "futura-pt-bold";
  src: url("../fonts/futura-pt-demi.woff") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "futura-pt-bold";
  src: url("../fonts/futura-pt-heavy.woff") format("woff2");
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #1772b5;
}

 .wrapper{
  height: 100%;
  display: flex;
}

/* .header {
  height: 10px;
} */

.content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex: 1;
  background: #FFFFFF;
  color: #000;
}

.columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.middle{
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  width: 270px;
  height: 865px;
  order: 2;
  background: #FFFFFF;
  margin: 86px 40px 0 40px;
  /* background: green; */
  flex-basis:270px;
  letter-spacing: 1px;
}

.left{
  display: block;
  width: 220px;
  height: 510px;
  background: #FFFFFF;
  order: 1;
  text-align: right;
  /* background:red; */
  flex-basis:220px;
  font-weight: 400;
  letter-spacing: 1px;

}

.right{
  display: block;
  width: 298px;
  height: 385px;
  order: 3;
  background: #FFFFFF;
  margin: 80px 0 0 0;
  /* background:yellow; */
  flex-basis:298px;
  font-size: 20px;
  line-height: 30px;
}

.image-container {
  display: flex;
  width: 270px;
  margin-top: 30px;
}

.headshot-eric,
.headshot-susie,
.headshot-aaron {
  width: 128px;
  height: 300px;
}

.headshot-aaron {
  margin-top: 14px;
  margin-left: -142px;
}

#name-bold {
  font-weight: bolder;
  font-size: 16px;
}

.headshot-eric {
  margin-right: 14px;
}

.copyright {
  color:#9c9c9c;
  font-size:13px;
}

.quote {
  font-size:20px;
  line-height:30px;
  letter-spacing: 1px;
}

.attribution {
font-size:13px;
}

.footer-m {
  display: none;
}

/*
--------------------------
media queries
--------------------------
*/

@media screen and (max-width:600px) {

  .wrapper {
    justify-content: center;
    flex-basis: 100%;
    width:485px;
    height: 100%
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 485px;
    margin-top: 70px;
    position: fixed;
    overflow: scroll;
    /* background-color: lightblue; */
  }

  .columns {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
  }

  .left {
    order:1;
    text-align: right;
    margin-top: 860px;
    /* background-color:lightgreen; */
    /* width: 270px; */
    height: 300px;
  }

  .middle {
    margin: 55px 0 0 0;
    height: 865px;
    order:2;
    display: block;
    /* background-color:red; */
  }

  .image-container {
    display: flex;
    width: 270px;
    height: 530px;
    margin-top: 30px;
  /*  background-color: purple; */

  }

  .right {
    margin: 22px 0 140px 0;
    order:3;
    /* background-color: lightblue; */
    height: 600px;
  }

  .footer-d{
    display: none;
  }

  .footer-m{
    display: block;
    /* font-weight: 400; */
    /* letter-spacing: 1px; */
    font-size: 16px;
    line-height: 20px;
  }
}
